mixin li(name, link, external)
    li
        #{link.type == "anchor" || link.type == "external" ? "div" : "a"}.nav.no-select(href=(link.type == "href" ? link.link : null) data-anchor=(link.type == "anchor" ? link.link : null) data-anchor-offset=(link.offset ? link.offset : "0"))
            .wrap
                .line !{name.replace(/\S/g, (match, offset) => `<span style=\"--ci:${offset}\">${match}</span>`)} #[span(style=`--ci:${name.match(/\S/g).length}`): sup=external ? Object.keys(external).length : null]
                .line !{name.replace(/\S/g, (match, offset) => `<span style=\"--ci:${offset}\">${match}</span>`)} #[span(style=`--ci:${name.match(/\S/g).length}`): sup=external ? Object.keys(external).length : null]
        if (external)
            .dd
                each k, i in external
                    a(href=(k.type == "href" ? k.link : null) data-anchor=(k.type == "anchor" ? k.link : null) data-anchor-offset=(k.offset ? k.offset : "0") style=`--li:${i}`)
                        .wrapper
                            span #[.n=i + 1] 
                                =k.label
                        include ../svg/right.svg
nav.-h
    a.logo.no-select(href="./")
        include ../svg/logo30px.svg
    ul#mainNavWidth
        +li("Biography", {type: "anchor", link: "section.bio_portfolio", offset: "-50"})
        +li("Portfolio", {type: "external"}, [{type: "anchor", label: "Portfolio 2023", link: "section.portfolio"},{type: "href", label: "Portfolio Explorer", link: "https://zippw.github.io"}])
        +li("FAQ", {type: "anchor", link: "section.faq", offset: "-50"})
        +li("Contacts", {type: "anchor", link: "section.work", offset: "-50"})